@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


h1 {
    font-size: 100px;
    margin-bottom: -10px;
    margin-top: -10px;
    z-index: 1;
    position: relative;
}

h4 {
    text-transform: uppercase;
}

hr {
    margin-top: -20px;
    opacity: 50%;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Roboto, system-ui;
    background-image: url(/Background.jpg);
    background-color: #063D04;
    background-attachment: fixed;
    background-size: fill;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin: 20px;
}

.tooltip-text {
        position: relative;
        text-decoration: underline dotted;
        text-underline-offset: 3px;
        display: inline-block;
}
.tooltip-tooltip {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        color: white;
        bottom: 150%;
        justify-self: center;
        width: 200px;
        background-color: #42b83ef3;
        border-radius: 10px;
        padding: 11px;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        transition-duration: .5s;
        transition-property: opacity;
}

.tooltip-text:hover .tooltip-tooltip {
    visibility: visible;  
    left: -40%;
}

.tooltip-text:hover {
    cursor: help;
}

.tooltip-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #42b83ec7 transparent transparent transparent;
}

.info-text-container {
    display: flex;
    flex-direction: column;
}
.info-text {
    background-color: #ffffffd5;
    padding: 12px;
    color: black;
    border-radius: 20px;
    align-self: flex-end;
    line-height: 150%;
}
  
.nav-tags {
    display: flex;
    align-self: flex-end;
    margin-bottom: 7px;
    margin-right: 20px;
        a {
            text-transform: uppercase;
            font-family: Roboto, system-ui;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1.2px;
            margin-left: 5px;
            background-color: #81B622;
            color: black;
            padding: 8px;
            padding-left: 12px;
            border-top-left-radius: 20px;
            transition-duration: .5s;
        }
        a:hover {
            background-color: #ffffffd5;
            box-shadow: 5px 0px #00000095;

        }
    }

.info-text-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5px;
}

.info-text-footer-text {
    width: 200px;
    background-color: #ffffffd5;
    padding: 12px;
    color: black;
    border-radius: 20px;
    justify-self: flex-end;
    font-size: 13px;
}

/* VELOCIRAPTOR */
.icon-grid {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    
    .grid-one {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        .icon-div {
            margin-left: 80px;
            margin-right: 80px;
            margin-bottom: -150px;
        }
    }

    .grid-two {
        display: flex;
        align-items: center;
        #icon-four {
            margin-left: 10px;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .grid-three {
        position: relative;
        display: flex;
        flex-direction: row;
        .icon-div {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: -150px;
        }
    }

    .icon-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 150px;
        height: 150px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background-color: #ccd5bbc1;
        transition-timing-function: ease-in-out;
        transition-duration: .4s;
        color: white;
        text-align: center;
        svg {
            scale: 2;
            transition-timing-function: ease;
            transition-duration: .3s;
            opacity: 1;
        }
        p {
            position: absolute;
            opacity: 0;
            transition-timing-function: ease;
            transition-duration: .4s;
            width: 100%;
            font-size: 14px;
            align-self: center;
            justify-self: center;
        } 
    }

    .icon-div:hover:not(#icon-four) {
        opacity: 1;
        scale: 2.2;
        z-index: 1;
        background-color: #82b622;
        svg {
            opacity: 0;
        }
        p {
            opacity: 1;
            scale: .5;
            text-align: center;
        }   
    }
    #icon-four {
        width: 300px;
        height: 300px;
        opacity: 100%;
        filter: saturate(120%);
        transition-duration: 1s;
        transition-property: all;
        transform: none;
    }
    #icon-four:hover {
            z-index: 1;
            scale: 1.5;
        }
}

/* DIPLODOCUS */
.top-container {
    align-self: center;
    background-color: #ffffffd5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mask-container {
        z-index: 0;
        display: inline-flex;
        justify-content: center;
        padding-left: 50px;
        height: 350px;
        .mask-div {
            position: relative;
            mask-image: url(/d-realistic-one.png);
            -webkit-mask-image: url(/d-realistic-one.png);
            mask-repeat: no-repeat;
            mask-size: 600px 350px;
            filter: brightness(0%);
            transition-property: all;
            transition-duration: 1.5s;
        }
        img {
            padding-top: 42px;
            width: 600px;
            height: 500px;
        }
    }
    .d-info-before, .d-info-after {
        padding-top: 80px;
        padding-right: 230px;
        position: absolute;
        width: 200px;
        text-align: center;
        font-weight: 900;
        text-shadow: rgb(0, 0, 0) 0px 0px 16px;
        color: white;
        z-index: 1;
        transition-duration: 1.5s;
    }
    .d-info-before {
        opacity: 1;
    }
    .d-info-after {
        opacity: 0;
    }
    .mask-div:hover + .d-info-before {
        opacity: 0;
    }
    .mask-div:hover ~ .d-info-after {
        opacity: 1;
    }
    .mask-div:hover {
        filter: brightness(100%);
    }
}

/* MAIN PAGE */
.logo-container {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    .diplo {
        width: 40px;
        height: 40px;
        background-color: #81B622;
        margin: 10px;
        padding: 8px;
        border-radius: 50%;
        object-fit: scale-down;
        overflow: visible;
    }
}

.logo-container:hover {
    .diplo {
        animation-name: diploAnimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transition-timing-function: ease-in-out;
    }
    cursor: pointer;
}

.text-container {
    .trex {
    animation-name: trexAnimation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease-in-out;
    height: 40px;
    width: 40px;
    padding: 0px 0px;
    }
}

.mid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.testimonials {
        width: 480px;
        height: 300px;
}

.carousel-container {
        height: 100%;
        mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
        overflow: hidden;
}

.carousel-track {
        height: 200px;
        display: flex;
        flex-direction: row;
        animation-name: dinoCarousel;
        animation-duration: 35s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}

.carousel-item {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 50px;
        .name {
            position: absolute; 
            margin-top: 150px;
            margin-left: 20px;
            padding: 4px;
            font-size: 15px;
            text-transform: none;
            color: white;
            background-color: #1f781c;
            border-radius: 4px;
        }
        
        .age {
            position: absolute; 
            margin-top: 178px;
            margin-left: 20px;
            padding: 4px;
            font-size: 12px;
            text-transform: none;
            color: white;
            background-color: #063D04;
            border-radius: 4px;      
        }
        
        p {
            height: 200px;
            position: absolute;
            justify-content: center;
            align-content: center;
            border-radius: 20px;
            border: 6px solid #ffffff97;
            padding: 0px 20px;
            margin: 7px 7px;
            opacity: 0;
            color:#063D04;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            transition-duration: .7s;
        }

        h4 {
            transition-duration: .7s;
        }

        img {
        width: 150px;
        min-height: 200px;
        max-height: 200px;
        border-radius: 20px;
        object-fit: fill;
        border: 6px solid #ffffff97;
        margin: 7px;
        }
}

.carousel-item:hover {
        p {
            background-color: rgba(255, 255, 255, 0.788);
            opacity: 1;
        }
        h4 {
            opacity: 0;
        }
        cursor: pointer;
}

.cta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 220px;
        height: 70px;
        margin-left: 10px;
        background-color: rgba(255, 255, 255, 0.423);
        font-weight: bolder;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        color: white;
        padding-block: 0px;
        padding-inline: 0px;
        transition: .3s;
        transition-timing-function: ease-in-out;

        div:first-child {
            width: 70%;
        }
        div:last-child {
            width: 33%;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: white;
        }
        svg {
            height: 100%;
            width: 15px;
            color: rgba(0, 0, 0, 0.488);
        }
}

.cta:hover {
    scale: 1.05;
    background-color: #81B622;
    transform: rotate(4deg);
    cursor: pointer;
}

.search-div {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.search-bar {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    background-color: rgba(255, 255, 255, 0.423);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
    .icon-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        height: 40px;
        rotate: y 180deg;
        animation-name: veloAnimation;
        animation-duration: 2s;
        animation-delay: 7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    
    .select-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;
        align-items: center;
        background-color: white;
        font-size: 12px;
    }
    
    label {
        display: flex;
        flex-direction: column;
        font-family: Roboto, system-ui;
        font-weight: bolder;
        color: #44444497;
        select {
            margin-top: 10px;
            font-family: inherit;
            font-weight: inherit;
            text-align: center;
            border: none;
            text-transform: uppercase;
        }
    }
    button {
        font-family: Roboto, system ui;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        background-color: #81B622;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition-duration: .5s;
    }
    button:hover {
        background-color: rgba(255, 255, 255, 0.423);
        color: rgb(84, 84, 84);
        cursor: pointer;
    }
}

/* ANIMATIONS */
@keyframes diploAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: rotateY(180deg);
        filter: invert(100%) grayscale(100%) brightness(150%);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes trexAnimation {
    0% {
        left:0%;
        transform: rotateY(0deg);
    }
    45% {
        left: 97%;
        transform: rotateY(0deg)
    }
    50% {
        left: 97%;
        transform: rotateY(180deg)
    }
    90% {
        left: 0%;
        transform: rotateY(180deg)
    }
    100% {
        left: 0%;
        transform: rotateY(0deg);
    }
}

@keyframes veloAnimation {
    to {
        transform: translate(-450%, -2200%) scale(.4); 
    }
}

@keyframes dinoCarousel {

    100% {
        transform: translate(-110%);
    }
}